<section class="certificates section" id="certificates">
    <h2 class="section-title">Certificates</h2>

    <div class="certificates__container bd-grid">
        <div class="certificates__content">
            <h3 class="certificates__title">Introduction Python</h3>
            <p class="certificates__description">
                Issued: Dec 2020
                <a
                    class="certificates__link"
                    href="https://certificate.ithillel.ua/view/83867747"
                    >Credential ID: 83867747 <i class="bx bx-link"></i
                ></a>
            </p>
        </div>

        <div class="certificates__content">
            <h3 class="certificates__title">Python</h3>
            <p class="certificates__description">
                Issued: May 2021
                <a
                    class="certificates__link"
                    href="https://certificate.ithillel.ua/view/21519986"
                    >Credential ID: 21519986 <i class="bx bx-link"></i
                ></a>
            </p>
        </div>

        <div class="certificates__content">
            <h3 class="certificates__title">Fullstack Developer</h3>
            <p class="certificates__description">
                Issued: In progress
                <span class="certificates__link"
                    >Credential ID: In progress</span
                >
            </p>
        </div>
    </div>
</section>
