<section class="home" id="home">
    <div class="home__container section bd-grid">
        <div class="home__data bd-grid">
            <img src="./images/photo.webp" alt="" class="home__img" />
            <h1 class="home__title">Artem <b>Drevetniak</b></h1>
            <h3 class="home__profession">Frontend developer</h3>

            <div>
                <a download="" href="#" class="home__button-movil">Download</a>
            </div>
        </div>

        <div class="home__address bd-grid">
            <a
                href="mailto:Artem_Drevetniak@proton.me"
                class="home__information"
            >
                <i class="bx bx-envelope home__icon"></i
                >Artem_Drevetniak@proton.me
            </a>
            <a href="tel:+380682337969" class="home__information"
                ><i class="bx bx-phone home__icon"></i>+38 (068) 233 79 69</a
            >
        </div>
    </div>
    <i class="bx bx-moon change-theme" title="Theme" id="theme-button"></i>
    <i
        class="bx bx-download generate-pdf"
        title="Generate PDF"
        id="resume-button"
    ></i>
</section>
