<section class="profile section" id="profile">
    <p class="profile__description">
        A Full Stack Developer with extensive knowledge and passion for creating
        cutting-edge, effective online applications. Seeking a challenging role
        in a dynamic organization that values teamwork, creativity, and
        professional growth.
    </p>
    <ul>
        <li>
            <span class="skills__circle"></span>Proficient in a number of
            computer languages, including JavaScript and Python.
        </li>
        <li>
            <span class="skills__circle"></span>Possessing knowledge of
            front-end technologies such as HTML, CSS, and JavaScript frameworks
            like React.
        </li>
        <li>
            <span class="skills__circle"></span>Experienced with database
            management systems like SQLite and MongoDB as well as back-end
            technologies like Node.js and Django.
        </li>
        <li>
            <span class="skills__circle"></span>Strong problem-solving and
            analytical skills with the ability to work independently or as part
            of a team.
        </li>
    </ul>
</section>
