<section class="skills section" id="skills">
    <h2 class="section-title">Skills</h2>

    <div class="skills__content bd-grid">
        <ul class="skills__data">
            <span class="skills__title">Tech Skills</span>
            <li class="skills__name">
                <span class="skills__circle"></span> Html
            </li>
            <li class="skills__name">
                <span class="skills__circle"></span> Css
            </li>
            <li class="skills__name">
                <span class="skills__circle"></span> JavaScript
            </li>
            <li class="skills__name">
                <span class="skills__circle"></span> React
            </li>
            <li class="skills__name">
                <span class="skills__circle"></span> Redux
            </li>
            <li class="skills__name">
                <span class="skills__circle"></span> Python
            </li>
            <li class="skills__name">
                <span class="skills__circle"></span> Node.js
            </li>
        </ul>

        <ul class="skills__data">
            <span class="skills__title">Soft Skills</span>
            <li class="skills__name">
                <span class="skills__circle"></span>
                Stress Tolerance
            </li>
            <li class="skills__name">
                <span class="skills__circle"></span>
                Teamwork
            </li>
            <li class="skills__name">
                <span class="skills__circle"></span> Self Organisation
            </li>
            <li class="skills__name">
                <span class="skills__circle"></span> Creativity
            </li>
            <li class="skills__name">
                <span class="skills__circle"></span> Responsibility
            </li>
        </ul>
    </div>
</section>
