<section class="social section">
    <h2 class="section-title">SOCIAL</h2>

    <div class="social__container bd-grid">
        <a
            target="_blank"
            href="https://www.linkedin.com/in/artemdrevetniak/"
            class="social__link"
        >
            <i class="bx bxl-linkedin-square social__icon"></i> @artemdrevetniak
        </a>
        <a
            target="_blank"
            href="https://t.me/Drevetniak_A_V"
            class="social__link"
        >
            <i class="bx bxl-telegram social__icon"></i> @Drevetniak_A_V
        </a>
        <a
            target="_blank"
            href="https://github.com/Dr-Artem"
            class="social__link"
            ><i class="bx bxl-github social__icon"></i> @Dr_Artem</a
        >
    </div>
</section>
