<section class="social section">
    <h2 class="section-title">SOCIAL</h2>

    <div class="social__container bd-grid">
        <a
            target="_blank"
            href="https://www.linkedin.com/in/artem-drevetnyak-9a476024b/"
            class="social__link"
        >
            <i class="bx bxl-linkedin-square social__icon"></i> @artem
        </a>
        <a target="_blank" href="#" class="social__link">
            <i class="bx bxl-facebook social__icon"></i> @artem
        </a>
        <a target="_blank" href="#" class="social__link">
            <i class="bx bxl-instagram social__icon"></i> @artem
        </a>
    </div>
</section>
