<section class="work-experience section">
    <h2 class="section-title">Work Experience</h2>

    <div class="work-experience__container bd-grid">
        <div class="work-experience__content">
            <div class="work-experience__data bd-grid">
                <h3 class="work-experience__title">Food Service Worker</h3>
                <span class="work-experience__year">2021 - 2022</span>
                <p class="work-experience__description">
                    Be in charge of chopping and preparing the food for the
                    meal. Strong attention to detail and the capacity to operate
                    in a fast-paced workplace, cooperation and teamwork.
                </p>
                <p class="work-experience__description">
                    <span style="font-weight: 600">Achivements:</span> Teamwork,
                    Comunication. Second place at Domino's FPM (Fastest Pizza
                    Maker) event in Sofiivska Borschahivka
                </p>
            </div>
        </div>
    </div>
</section>
