body.scale-cv {
	--h1-font-size: 0.94rem;
	--h2-font-size: 0.94rem;
	--h3-font-size: 0.875rem;
	--normal-font-size: 0.81rem;
	--small-font-size: 0.75rem;
	--smaller-font-size: 0.69rem;
}

.generate-pdf {
	display: none;
	position: absolute;
	top: 2.2rem;
	left: 0;
	font-size: 1.2rem;
	color: var(--text-color);
	cursor: pointer;

	@media screen and (min-width: 968px) {
		display: inline-block;
	}
}
.generate-pdf:hover {
	color: var(--title-color);
}

.scale-cv .change-theme,
.scale-cv .generate-pdf {
	display: none;
}
.scale-cv .bd-container {
	max-width: 595px;
}
.scale-cv .section {
	padding: 0.5rem 0 0.5rem;
}
.scale-cv .section-title {
	margin-bottom: 0.55rem;
}
.scale-cv .resume__left,
.scale-cv .resume__right {
	padding: 0 1rem;
}
.scale-cv .home__img {
	height: 90px;
	width: 90px;
}
.scale-cv .home__container {
	gap: 1rem;
}
.scale-cv .home__data {
	gap: 0.25rem;
}
.scale-cv .home__address,
.scale-cv .social__container {
	gap: 0.65rem;
}
.scale-cv .home__icon,
.scale-cv .social__icon,
.scale-cv .interests__icon {
	font-size: 1rem;
}
.scale-cv .education__container,
.scale-cv .experience__container,
.scale-cv .certificates__container {
	gap: 0.65rem;
}
.scale-cv .education__time,
.scale-cv .experience__time {
	padding-right: 0.5rem;
}
.scale-cv .education__rounder,
.scale-cv .experience__rounder {
	width: 11px;
	height: 11px;
	margin-top: 0.22rem;
}
.scale-cv .education__line,
.scale-cv .experience__line {
	width: 1px;
	height: 110%;
	transform: translate(5px, 0);
}
.scale-cv .education__data,
.scale-cv .experience__data {
	gap: 0.25rem;
}
.scale-cv .skills__name {
	margin-bottom: var(--mb-1);
}
.scale-cv .interests__container {
	column-gap: 2.5rem;
}
